
// CSS GRID

@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.grid-complejo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "area-titulo"
    "area-principal"
    "area-item-uno"
    "area-item-dos";
  gap: 18px;

  @include desktop {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
      "area-titulo       area-titulo"
      "area-principal    area-item-uno"
      "area-principal    area-item-dos";
    gap: 24px;
  }
}

.area-titulo {
  grid-area: area-titulo;
}

.area-principal {
  grid-area: area-principal;
}

.area-item-uno {
  grid-area: area-item-uno;
}

.area-item-dos {
  grid-area: area-item-dos;
}
