// ==========================================================================
// HERO
// ==========================================================================
@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.hero {
  background-color: $color-hero;
  padding: 25px 15px;
  border-radius: $radio-medio;
  @include flex-columna(15px, center);
  text-align: center;

  // Animación nativa de entrada (mixin con parámetros + @keyframes)
  @include animar(aparecer-subiendo, 0.9s);

  @include tablet {
    padding: $espaciado-base * 4 $espaciado-base * 4;
  }

  figure {
    @include flex-columna(8px, center);
  }

  figcaption {
    font-size: 14px;
    font-style: italic;
    color: $color-gris-oscuro;
    max-width: 650px;
  }
}
