
// ANIMACIONES NATIVAS (@keyframes)


// Entrada suave: el elemento aparece subiendo unos pixeles
@keyframes aparecer-subiendo {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
